@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
@import './styles/Responsive.scss';
@import './styles//Variables.scss';
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Public Sans', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &::-webkit-scrollbar{
    display: none;
  }
}

button{
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  transition: .3s;

  &:hover{
    transform: scale(1.05);
  }

  &.primaryBtn{
    border-radius: 50px;
    width: 150px;
    padding-block: .8rem;
    background: linear-gradient(to right, $Lime-Green, $Bright-Cyan);
    color: $White;
    font-weight: bold;
  }
}

li{
  list-style: none;
}